* {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.trybe-logo {
  width: 80px;
  margin-left: 20px;
}

.header-component {
  background-color: rgb(223, 226, 223);
  display: flex;
  justify-content: space-between;
}

.article-component {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  padding: 20px;
}

.email-header {
  margin-right: 20px;
}

.total-expense {
  margin-right: 5px;
}
