* {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.login-container {
  align-items: center;
  background: rgb(99, 180, 99);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login-box {
  align-items: center;
  background: #fff;
  border: 2px solid #6C7A89;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  width: 300px;
}

.input-text {
  margin: auto;
  width: 200px;
}
